
<div class="add-product">
    <h1>Add New Product</h1>
    <p class="message-p">{{addProductMessage}}</p>
    <form class="common-form" #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)">
        <input type="text" placeholder="Enter Product Name" class="form-input" name="name" ngModel>
        <input type="text" placeholder="Enter Product Price" class="form-input" name="price" ngModel>
        <input type="text" placeholder="Enter Product Color" class="form-input" name="color" ngModel>
        <input type="text" placeholder="Enter Product Catagory" class="form-input" name="catagory" ngModel>
        <textarea placeholder="Product Description" name="description" class="form-input" ngModel ></textarea>
        <input type="text" placeholder="Enter Image Url" class="form-input" name="image" ngModel>
        <button class="form-button">Add Product</button>
    </form>
</div>