

<div class="add-product">
    <h1>Update Product</h1>
    <p class="message-p">{{productMessage}}</p>
    <form class="common-form" #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)">
        <input type="text" 
        placeholder="Enter Product Name" class="form-input" 
        name="name" ngModel="{{productData?.name}}">

        <input type="text"
         placeholder="Enter Product Price" class="form-input"
         name="price" ngModel="{{productData?.price}}">

        <input type="text" 
        placeholder="Enter Product Color" class="form-input"
        name="color" ngModel="{{productData?.color}}">

        <input type="text" 
        placeholder="Enter Product Catagory" class="form-input"
        name="catagory" ngModel="{{productData?.catagory}}">

        <textarea placeholder="Product Description" name="description"
         class="form-input" ngModel="{{productData?.description}}" ></textarea>

        <input type="text" placeholder="Enter Image Url" 
        class="form-input" name="image" ngModel="{{productData?.image}}">
        <button class="form-button">Update Product</button>
    </form>
</div>